/__pycache__/
/data.dat
/populate
/Paper/auto/
/Paper/*.aux
/Paper/main.bcf
/Paper/main.fdb_latexmk
/Paper/main.run.xml
/Paper/main.bbl
/Paper/main.blg
/Paper/main.fls
/Paper/main.log
/Paper/main.synctex.gz
